html, body {
	width: 100%;
	height: 100%;
  margin: 0;
}

#sketch {
	height: 100%;
	position: relative;
	margin:auto;
	text-align: center;
}

#paint{background:#ccc;}

#fuckingDiv{	position: absolute;
	left: 0; right: 0;
	bottom: 0; top: 0;
text-align: center;}


#tmp_canvas {
	cursor: crosshair;
}